<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block metas %}{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<h1><a href="{{ path('app_default') }}">Home page</a></h1>
{{ render(controller(
    'App\\Controller\\DefaultController::showCategories',
    { 'max': 3 }
)) }}
{% block body %}{% endblock %}
</body>
</html>
